@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto:ital,wght@1,500&display=swap');
:root{
    --primary-color: #7da297;
    --secondary-color: #b5ffe9;
}

html {
    scroll-behavior: smooth;
}


body{
    background-color: var(--primary-color);
}

h1{
   color: var(--secondary-color);
    text-align: center;
    font-family: "Fasthand", sans-serif; 
}
p{
    text-align: center ;
    font-family: "roboto", sans-serif
     
}
ul li{
    font-family: "roboto", sans-serif
}


header{
    text-align: center;
    width: fit-content;
    height: fit-content;
   
}
#bilde{
    height: 50%;
    width: 50%;
}


nav{
   
    justify-content: center;
    text-align: center; 
   
}
.navbar {
    height: fit-content;
    border: 2px solid var(--primary-color) ;
    background-color:  var(--primary-color); 
    padding: 2px;
    position: sticky;
    top: 0;
    
    
}
nav ul li{
    text-align: center;
    list-style: none;
    display: inline;
    padding: 5px;
    margin-top: 5px;
    margin-right: 4em;

    border: 5px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 20%;
    
}


div{
    text-align: center;
    display: flex;
    flex-direction: column;
}


table {
    font-family:"roboto", sans-serif ;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 5px solid var(--secondary-color);
    text-align: left;
    padding: 8px;
    font-family: "roboto", sans-serif;
  }
  
  tr:nth-child(ok) {
    background-color: var(--primary-color);
  }


 